html {
  font-family: "Futura PT", sans-serif;
  font-size: 15px;
  font-weight: 300;
}

a {
    color: black;
  }
  
  .hidden {
    display: none;
  }
  
  .down {
    width: 24px;
    height: 24px;
    pointer-events: none;
  }
  
  td {
    font-weight: 500;
  }
  
  .scrollable-table {
    max-width: 1400px;
    max-height: 680px;
    overflow-y: scroll;
    overflow-x: auto;
  }
  
  .show-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
    --tw-bg-opacity: 1;
    background-color: rgb(244 244 245 / var(--tw-bg-opacity));
    border-radius: 9px 8px 8px 9px;
  }

  .show-scrollbar::-webkit-scrollbar-thumb {
    border-style: solid;
    border-color: transparent;
    --tw-bg-opacity: 1;
    background-color: rgb(161 161 170 / var(--tw-bg-opacity));
    background-clip: padding-box;
    border-radius: 9px 8px 8px 9px;
    border-width: 3px 3px 3px 4px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    position: sticky;
    background-color: black;
    color: white;
  }
  
  thead th {
    top: 0;
    padding: 12px 24px;
  }
  
  td {
    text-align: center;
  }
  
  tbody td {
    font-size: 18px;
  }
  
  tbody td:last-child {
    font-weight: bold;
  }
  
  tbody tr[data-source]:hover th {
    background-color: #666;
  }
  
  tbody tr[data-source] th::after {
    content: '';
    position: absolute;
    right: 0;
    width: 40px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='M4.22 8.47a.75.75 0 0 1 1.06 0L12 15.19l6.72-6.72a.75.75 0 1 1 1.06 1.06l-7.25 7.25a.75.75 0 0 1-1.06 0L4.22 9.53a.75.75 0 0 1 0-1.06z' fill='white'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: right 12px center;
  }

  tbody tr[data-source].rotate th::after {
    transform: rotate(180deg);
    background-position-x: right 0;
  }
  
  thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
  }
  
  tbody th {
    position: sticky;
    left: 0;
    z-index: 1;
    text-align: left;
    cursor: pointer;
    padding: 16px 64px 16px 24px;
  }
  
  th,
  td {
    border: 1px solid;
  }
  
  tbody tr[data-expand] td div {
    text-align: left;
    max-width: 55ch;
    font-weight: normal;
  }
  
  .sources {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .body {
    padding-left: 24px;
    padding-right: 24px;
    width: calc(100vw - 48px);
  }

  @media (min-width: 768px) {
    .body {
      font-size: 1.4rem;
    }
  }